<style>
    .input-container {
        display:flex;
        flex-direction: column;
        width: 30%;
        margin: 0 auto;
    }

    .header {
        text-align: center;
    }

    .buttonStyle {
        display: flex;
        flex-direction: column;
        width: 15%;
        margin: 0 auto;
    }
</style>
<!--<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<div *ngIf="success" class="alert alert-success">{{success}}</div>-->
<h2 class="header">Login</h2>

<!--Login Form-->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <!--Username Field-->
    <div class="input-container">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput required placeholder="mjames1" formControlName="username">
        
            <!--Errors-->
            <mat-error *ngIf="username.invalid && (username.dirty || username.touched)"
            class="alert alert-danger">

                <!--Error for missing field-->
                <mat-error *ngIf="username.errors.required">
                    Please valid username
                </mat-error>

                <!--Error for incorrect username-->
                <mat-error *ngIf="username.errors.loginCreditials">
                    Invalid username
                </mat-error>

            </mat-error>
        
        </mat-form-field>
    </div>
    <br>

    <!--Password Field-->
    <div class="input-container">
        <mat-form-field>
            <mat-label>Password</mat-label>

            <!--Need to validate if password meets the pattern-->
            <input matInput required type="password" formControlName="password">
        
            <!--Errors-->
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger">

                <!--Error for missing field-->
                <mat-error *ngIf="password.errors.required">
                    Please enter your user name
                </mat-error>

                <!--Error for incorrect password -->
                <mat-error *ngIf="password.errors.loginCreditials">
                        Incorrect password
                </mat-error>

            </mat-error>

        </mat-form-field>
    </div>
    <br>

    <!--Login Button-->
    <div class="buttonStyle">
        <button mat-raised-button type="submit" [disabled]="!form.valid">
            Login
        </button>
    </div>
    <br>

    <!--Register Button-->
    <div class="buttonStyle">
        <a routerLink="/register" mat-raised-button>Register</a>
    </div>
    
</form>
