.input-container {
    display:flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
}

.header {
    text-align: center;
}

.buttonStyle {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 0 auto;
}