<table mat-table [dataSource]="users" multiTemplateDataRows class="mat-elevation-z8">

  <!-- Headers -->
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- When expanded -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="details" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

        <!-- Privelges-->
        <div class="element-privs">
          <mat-checkbox class="privelge-checkbox" [checked]="element.createPriv">Create</mat-checkbox>
          <mat-checkbox class="privelge-checkbox" [checked]="element.editPriv">Edit</mat-checkbox>
          <mat-checkbox class="privelge-checkbox" [checked]="element.deletePriv">Delete</mat-checkbox>
        </div>

        <!-- Spacer between buttons and privelges-->
        <div class="textFields">
          <mat-form-field class="textInputs">
            <mat-label>First name</mat-label>
            <textarea matInput [value]="element.firstName"></textarea>
          </mat-form-field>

          <mat-form-field class="textInputs">
            <mat-label>Last name</mat-label>
            <textarea matInput [value]="element.lastName"></textarea>
          </mat-form-field>

          <mat-form-field class="textInputs">
            <mat-label>Username</mat-label>
            <textarea matInput [value]="element.userName"></textarea>
          </mat-form-field>
        </div>

        <!-- Save, Delete, Change Password Buttons -->
        <div class="element-button-container">
          <button mat-raised-button class="element-buttons">Change Password</button>
          <button mat-raised-button class="element-buttons">Save</button>
          <button mat-raised-button class="element-buttons">Delete</button>
        </div>

      </div>
    </td>
  </ng-container>

  <!-- When not expanded -->
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>

  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="element-row"
    [class.expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>

  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>
