<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

  <!-- Headers -->
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- When expanded -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="details" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        
        <!-- Description -->
        <!-- this will be the section that'll hold the user's privs, del option, and password change option -->
        <div class="element-description">
          <!--{{element.description}}-->
          <mat-checkbox class="privelge-checkbox">Create</mat-checkbox>
          <mat-checkbox class="privelge-checkbox">Edit</mat-checkbox>
          <mat-checkbox class="privelge-checkbox">Delete</mat-checkbox>
        </div>

      </div>
    </td>
  </ng-container>

  <!-- When not expanded -->
  <!-- this will just list the basic data of the user-->
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>

  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>

  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>
