.container {
    width: 80%;
    margin-top: 1rem;
    margin-left: 10%;
}
#saveButton {
    background-color: green;
}
.actions {
    text-align: center;
    margin: 1rem;
}
.actions button {
    margin: 1rem;
}
.card-container {
    display: flex;
}
.item-flex {
    flex: 1;
}
.item-flex mat-form-field {
    margin-left: 1rem;
}
.card-container-grid-8 {
    width: 80%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    column-gap: 1rem;
}
.card-container-grid-8 mat-form-field {
    width: 4rem;
}
.item-column-1 {
    grid-column: 1;
    display: flex;
    align-items: center;
    text-align: center;
}
.item-column-2 {
    grid-column: 2;
    display: flex;
    align-items: center;
    text-align: center;
}
.item-column-3 {
    grid-column: 3;
}
.item-column-4 {
    grid-column: 4;
}
.item-column-5 {
    grid-column: 5;
    display: flex;
    align-items: center;
    text-align: center;
}
.item-column-6 {
    grid-column: 6;
    display: flex;
    align-items: center;
    text-align: center;
}
.item-column-7 {
    grid-column: 7;
}
.item-column-8 {
    grid-column: 8;
}
.item-row-1 {
    grid-row: 1;
}
.item-row-2 {
    grid-row: 2;
}
.item-row-3 {
    grid-row: 3;
}
.item-row-4 {
    grid-row: 4;
}
.item-row-5 {
    grid-row: 5;
}
.item-row-6 {
    grid-row: 6;
}
.item-row-7 {
    grid-row: 7;
}
.item-row-8 {
    grid-row: 8;
}
.item-row-9 {
    grid-row: 9;
}
.item-row-10 {
    grid-row: 10;
}
.item-row-11 {
    grid-row: 11;
}
.item-row-12 {
    grid-row: 12;
}
.item-row-13 {
    grid-row: 13;
}
.item-row-14 {
    grid-row: 14;
}
.item-row-15 {
    grid-row: 15;
}
.item-row-16 {
    grid-row: 16;
}
.item-row-17 {
    grid-row: 17;
}
.item-row-18 {
    grid-row: 18;
}
.item-row-19 {
    grid-row: 19;
}
.item-row-20 {
    grid-row: 20;
}
.item-row-21 {
    grid-row: 21;
}
.item-row-22 {
    grid-row: 22;
}
.item-row-23 {
    grid-row: 23;
}
.item-row-24 {
    grid-row: 24;
}
.item-row-25 {
    grid-row: 25;
}
.item-row-26 {
    grid-row: 26;
}
.item-row-27 {
    grid-row: 27;
}
.item-row-28 {
    grid-row: 28;
}
.item-row-29 {
    grid-row: 29;
}
.item-row-30 {
    grid-row: 30;
}
.item-row-31 {
    grid-row: 31;
}
.item-row-32 {
    grid-row: 32;
}
.item-row-33 {
    grid-row: 33;
}
.item-row-34 {
    grid-row: 34;
}
.item-row-35 {
    grid-row: 35;
}
.item-row-36 {
    grid-row: 36;
}
.item-row-37 {
    grid-row: 37;
}
.item-row-38 {
    grid-row: 38;
}