<div class="row">
    <div class="col-md-5">
      <h2>Donors</h2>
      <ul class="list-group">
        <li class="list-group-item"
          *ngFor="let donor of donors"
          (click)="selectDonor(donor)"
          [class.active]="donor === selectedDonor">
          {{donor.firstName}}
        </li>
      </ul>
      <button class="btn btn-warning" (click)="createNewDonor()">New</button>
    </div>
    <div class="col-md-5 col-md-offset-2">
      <donor-details
        [donor]="selectedDonor"
        [createHandler]="addDonor"
        [updateHandler]="updateDonor"
        [deleteHandler]="deleteDonor">
      </donor-details>
    </div>
  </div>
  