<div id="wrap">
<div id="content-wrap">
<form [formGroup]="registerForm">
    <mat-accordion multi="true">
        <mat-expansion-panel id="top-panel">
            <mat-expansion-panel-header>
                <mat-panel-title>General and Contact Information</mat-panel-title>
            </mat-expansion-panel-header>
            <b class="subtitle">Flag:</b>
            <mat-form-field>
              <mat-label>Yes/No</mat-label>
              <mat-select required formControlName="flag">
                <mat-option value="true">Yes</mat-option>
                <mat-option value="false">No</mat-option>
              </mat-select>
            </mat-form-field>
            <b class="subtitle inline-subtitle">Date Signed:</b>
            <mat-form-field>
              <mat-label>Date Signed</mat-label>
              <input matInput type="text" [matDatepicker]="SignDatepicker" formControlName="signDate">
              <mat-datepicker-toggle matSuffix [for]="SignDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #SignDatepicker></mat-datepicker>
            </mat-form-field>
            <b class="subtitle inline-subtitle">Date Entered:</b>
            <mat-form-field>
              <mat-label>Date Entered</mat-label>
              <input matInput type="text" [matDatepicker]="EnterDatepicker" required formControlName="enterDate">
              <mat-datepicker-toggle matSuffix [for]="EnterDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #EnterDatepicker></mat-datepicker>
            </mat-form-field>
            <br>
          <b class="subtitle">Name:</b>
          <mat-form-field>
              <input matInput type="text" required placeholder="Last Name" formControlName="lastName">
          </mat-form-field>
          /
          <mat-form-field>
              <input matInput type="text" required placeholder="First Name" formControlName="firstName">
          </mat-form-field>
          /
          <mat-form-field>
            <input matInput type="text" placeholder="Middle Name" formControlName="middleName">
          </mat-form-field>
          <b class="subtitle inline-subtitle">Sex:</b>
          <mat-form-field>
            <mat-label>Sex</mat-label>
            <mat-select required formControlName="selectedSex">
              <mat-option value="male-0">Male</mat-option>
              <mat-option value="female-1">Female</mat-option>
            </mat-select>
          </mat-form-field>
        <br>
        <b class="subtitle">Social Security #</b>
        <mat-form-field>
          <mat-label>Social Security #</mat-label>
          <input matInput type="text" formControlName="socialSecurity">
        </mat-form-field>
        <b class="subtitle inline-subtitle">Race:</b>
        <mat-form-field>
          <mat-label>Race</mat-label>
          <mat-select required formControlName="selectedRace">
            <mat-option *ngFor="let race of races" [value]="race.value">
              {{race.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="registerForm.value.selectedRace == 'other'" style="display: inline">
          <b class="subtitle inline-subtitle">Please Enter Race:</b>
          <mat-form-field>
            <mat-label>Race</mat-label>
            <input matInput type="text" formControlName="otherRace">
          </mat-form-field>
        </div>
        <br>
        <b class="subtitle">Date of Birth:</b>
        <mat-form-field>
          <mat-label>Date of Birth</mat-label>
          <input matInput type="text" [matDatepicker]="BirthDatepicker" required formControlName="birthDate">
          <mat-datepicker-toggle matSuffix [for]="BirthDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #BirthDatepicker></mat-datepicker>
        </mat-form-field>
        <b class="subtitle inline-subtitle">Age:</b>
        <mat-form-field style="width: 2rem;">
          <mat-label>Age</mat-label>
          <input matInput type="text" formControlName="ageControl">
        </mat-form-field>
        <b class="subtitle inline-subtitle">Place of Birth(city/state):</b>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput type="text" formControlName="cityBirth">
        </mat-form-field>
        /
        <mat-form-field>
          <mat-label>State</mat-label>
          <input matInput type="text" formControlName="stateBirth">
        </mat-form-field>
        <br>
        <b class="subtitle">Home Address:</b>
        <mat-form-field style="width: 50%;">
          <mat-label>Home Address</mat-label>
          <input matInput type="text" formControlName="homeAddress">
        </mat-form-field>
        <br>
        <b class="subtitle">City:</b>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput type="text" formControlName="cityAddress">
        </mat-form-field>
        <b class="subtitle inline-subtitle">County:</b>
        <mat-form-field>
          <mat-label>County</mat-label>
          <input matInput type="text" formControlName="countyAddress">
        </mat-form-field>
        <b class="subtitle inline-subtitle">State:</b>
        <mat-form-field>
          <mat-label>State</mat-label>
          <input matInput type="text" formControlName="stateAddress">
        </mat-form-field>
        <b class="subtitle inline-subtitle">Zip:</b>
        <mat-form-field>
          <mat-label>Zip</mat-label>
          <input matInput type="text" formControlName="zipAddress">
        </mat-form-field>
        <br>
        <b class="subtitle">Phone Number:</b>
        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input matInput type="text" formControlName="phoneNumber">
        </mat-form-field>
        <b class="subtitle">Email:</b>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="emailAddress">
        </mat-form-field>
        <b class="subtitle inline-subtitle">Inside City Limits:</b>
        <mat-form-field>
          <mat-label>Yes/No</mat-label>
          <mat-select formControlName="cityLimits">
            <mat-option value="yes-inside-limits">Yes</mat-option>
            <mat-option value="no-inside-limits">No</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <b class="subtitle">Mother's Name:</b>
        <mat-form-field class="inputText">
          <input matInput type="text" placeholder="Last Name" formControlName="motherLast">
        </mat-form-field>
        <mat-form-field class="inputText">
          <input matInput type="text" placeholder="First Name" formControlName="motherFirst">
        </mat-form-field>
        <mat-form-field class="inputText">
          <input matInput type="text" placeholder="Middle Name" formControlName="motherMiddle">
        </mat-form-field>
        <mat-form-field class="inputText">
          <input matInput type="text" placeholder="Maiden Name" formControlName="motherMaiden">
        </mat-form-field>
        <b class="subtitle inline-subtitle">Place of Birth:</b>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput type="text" formControlName="cityMother">
        </mat-form-field>
        /
        <mat-form-field>
          <mat-label>State</mat-label>
          <input matInput type="text" formControlName="stateMother">
        </mat-form-field>
        <br>
        <b>Father's Name:</b>
        <mat-form-field class="inputText">
          <input matInput type="text" placeholder="Last Name" formControlName="fatherLast">
        </mat-form-field>
        <mat-form-field class="inputText">
          <input matInput type="text" placeholder="First Name" formControlName="fatherFirst">
        </mat-form-field>
        <mat-form-field class="inputText">
          <input matInput type="text" placeholder="Middle Name" formControlName="fatherMiddle">
        </mat-form-field>
        <b class="subtitle inline-subtitle">Place of Birth:</b>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput type="text" formControlName="cityFather">
        </mat-form-field>
        /
        <mat-form-field>
          <mat-label>State</mat-label>
          <input matInput type="text" formControlName="stateFather">
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Natural and Marital Information</mat-panel-title>
        </mat-expansion-panel-header>
        <b class="subtitle">Driver's Lincense Height:</b>
        <mat-form-field>
          <mat-label>Height</mat-label>
          <input matInput type="text" formControlName="heightControl">
        </mat-form-field>
        <b class="subtitle inline-subtitle">Weight:</b>
        <mat-form-field>
          <mat-label>Weight</mat-label>
          <input matInput type="text" formControlName="weightControl">
        </mat-form-field>
        <b class="subtitle inline-subtitle">Recent Weight Loss:</b>
        <mat-form-field style="width: 5rem;">
          <mat-label>Yes/No</mat-label>
          <mat-select formControlName="weightLoss">
            <mat-option value="yes-recent-weight-loss">Yes</mat-option>
            <mat-option value="no-recent-weight-loss">No</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <b class="subtitle">Handedness:</b>
        <mat-form-field>
          <mat-label>Right/Left</mat-label>
          <mat-select formControlName="handednessControl">
            <mat-option value="right-handedness">Right</mat-option>
            <mat-option value="left-handedness">Left</mat-option>
          </mat-select>
        </mat-form-field>
        <b class="subtitle inline-subtitle">Shoe Size:</b>
        <mat-form-field style="width: 5rem;">
          <mat-label>Size</mat-label>
          <mat-select formControlName="shoeSize">
            <mat-option *ngFor="let size of shoeSizes" [value]="size.value">
              {{size.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <b class="subtitle inline-subtitle">Blood Type:</b>
        <mat-form-field style="width: 6rem;">
          <mat-label>Blood Type</mat-label>
          <mat-select formControlName="bloodType">
            <mat-option *ngFor="let type of bloodTypes" [value]="type.value">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <b class="subtitle inline-subtitle">Hair Color:</b>
        <mat-form-field style="width: 8rem;">
          <mat-label>Hair Color</mat-label>
          <mat-select formControlName="hairColor">
            <mat-option *ngFor="let color of hairColors" [value]="color.value">
              {{color.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <b class="subtitle">Marital Status:</b>
        <mat-form-field>
          <mat-label>Marital Status</mat-label>
          <mat-select formControlName="maritalStatus">
            <mat-option *ngFor="let status of maritalStatusTypes" [value]="status.value">
              {{status.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <b class="subtitle inline-subtitle">Spouse Name:</b>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="spouseLast">
        </mat-form-field>
        /
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="spouseFirst">
        </mat-form-field>
        /
        <mat-form-field>
          <mat-label>Middle Name</mat-label>
          <input matInput type="text" formControlName="spouseMiddle">
        </mat-form-field>
        <br>
        <b class="subtitle">Condition:</b>
        <mat-form-field>
          <mat-label>Spouse Living Condition</mat-label>
          <mat-select formControlName="spouseCondition">
            <mat-option value="living-spouse-condition">Living</mat-option>
            <mat-option value="deceased-spouse-condition">Deceased</mat-option>
            <mat-option value="unknown-spouse-condition">Unknown</mat-option>
          </mat-select>
        </mat-form-field>
        <b class="subtitle inline-subtitle">Number of Children:</b>
        <mat-form-field>
          <mat-label>Children #</mat-label>
          <input matInput type="text" formControlName="childrenNumber">
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Education and Occupation History</mat-panel-title>
        </mat-expansion-panel-header>
        <b class="subtitle">Highest Education Level (indicate number of years):</b>
        <mat-form-field>
          <mat-label>Education Level</mat-label>
          <input matInput type="text" formControlName="educationLevel">
        </mat-form-field>
        <b class="subtitle inline-subtitle">Military Service:</b>
        <mat-form-field>
          <mat-label>Yes/No</mat-label>
          <mat-select formControlName="militaryService">
            <mat-option value="yes-military-service">Yes</mat-option>
            <mat-option value="no-military-service">No</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <b class="subtitle">Childhood Socio-Economic Status:</b>
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select formControlName="socioEconomicStatus">
            <mat-option *ngFor="let status of socioEconomicStatusTypes" [value]="status.value">
              {{status.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <b class="subtitle">Usual (life-long) Occupation:</b>
        <mat-form-field>
          <mat-label>Occupation</mat-label>
          <input matInput type="text" formControlName="occupationControl">
        </mat-form-field>
        <b class="subtitle inline-subtitle">Business/Industry</b>
        <mat-form-field>
          <mat-label>Business/Industry</mat-label>
          <input matInput type="text" formControlName="industryControl">
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Residence History</mat-panel-title>
        </mat-expansion-panel-header>
        <b class="subtitle">Childhood Hometown (0-15 years of age):</b>
        <b>City/State  Start Date - End Date</b>
        <br>
        <mat-form-field appearance="fill" style="width:100%;height:100px;">
          <mat-label>Childhood Residential History</mat-label>
          <textarea matInput style="height:100px;" formControlName="childhoodResidentialHistory"></textarea>
        </mat-form-field>
        <br>
        <br>
        <br>
        <b class="subtitle">Location as an Adult (any place you have lived for more than 1 year)</b>
        <b>City/State   Start Date - End Date</b>
        <br>
        <mat-form-field appearance="fill" style="width:100%;height:100px;">
          <mat-label>Adult Residential History</mat-label>
          <textarea matInput style="height:100px;" formControlName="adultResidentialHistory"></textarea>
        </mat-form-field>
        <br>
        <br>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Dental History</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="dentalContainer">
          <mat-checkbox class="subtitle" formControlName="extensiveDentalWork">Extensive Dental Work</mat-checkbox>
          <mat-checkbox class="subtitle inline-subtitle" formControlName="mostTeeth">Most/all teeth</mat-checkbox>
          <mat-checkbox class="subtitle inline-subtitle" formControlName="teethMissing">Teeth Missing</mat-checkbox>
          <mat-form-field *ngIf="registerForm.value.teethMissing">
            <mat-label>Teeth Missing:</mat-label>
            <mat-select formControlName="teethMissingAmount">
              <mat-option value="few-teeth-missing">Few</mat-option>
              <mat-option value="many-teeth-missing">Many</mat-option>
              <mat-option value="all-teeth-missing">All</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox class="subtitle inline-subtitle" formControlName="lowerDenture">Lower Denture:</mat-checkbox>
          <div *ngIf="registerForm.value.lowerDenture" style="display:inline;">
            <mat-form-field>
              <mat-label>When</mat-label>
              <input matInput formControlName="lowerDentureDate" type="text">
            </mat-form-field>
          </div>
          <mat-checkbox class="subtitle inline-subtitle" formControlName="upperDenture">Upper Denture:</mat-checkbox>
          <div *ngIf="registerForm.value.upperDenture" style="display:inline;">
            <mat-form-field>
              <mat-label>When</mat-label>
              <input matInput formControlName="upperDentureDate" type="text">
            </mat-form-field>
          </div>
          <mat-checkbox class="subtitle inline-subtitle" formControlName="bothDenture">Upper and Lower Dentures:</mat-checkbox>
          <div *ngIf="registerForm.value.bothDenture" style="display:inline;">
            <mat-form-field>
              <mat-label>When</mat-label>
              <input matInput formControlName="bothDentureDate" type="text">
            </mat-form-field>
          </div>
          <mat-checkbox class="subtitle inline-subtitle" formControlName="partialPlate">Partial Plate</mat-checkbox>
          <mat-checkbox class="subtitle inline-subtitle" formControlName="bracesControl">Braces</mat-checkbox>
          <mat-checkbox class="subtitle inline-subtitle" formControlName="bridgeControl">Bridge</mat-checkbox>
          <mat-checkbox class="subtitle inline-subtitle" formControlName="gumDisease">Gum Disease</mat-checkbox>
          <mat-checkbox class="subtitle inline-subtitle" formControlName="dentalDisease">Dental Disease</mat-checkbox>
          <mat-checkbox class="subtitle inline-subtitle" formControlName="otherDentalControl">Other:</mat-checkbox>
          <mat-form-field *ngIf="registerForm.value.otherDentalControl">
            <mat-label>Other Dental Information</mat-label>
            <textarea matInput formControlName="otherDental"></textarea>
          </mat-form-field>
        </div>
        <mat-form-field style="width:100%;">
          <mat-label>Comments</mat-label>
          <textarea matInput formControlName="dentalComments"></textarea>
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Medical History</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox class="subtitle" formControlName="surgeryMedical">Surgery(general)</mat-checkbox>
        <div style="display:inline;" *ngIf="registerForm.value.surgeryMedical">
          <mat-form-field>
            <mat-label>List of Surgeries</mat-label>
            <textarea matInput formControlName="surgeryTypes"></textarea>
          </mat-form-field>
        </div>
        <mat-checkbox class="subtitle inline-subtitle" formControlName="plasticSurgeryMedical">Plastic Surgery (indicate type and location></mat-checkbox>
        <div style="display:inline;" *ngIf="registerForm.value.plasticSurgeryMedical">
          <mat-form-field>
            <mat-label>List of Surgeries</mat-label>
            <textarea matInput formControlName="plasticSurgeryTypes"></textarea>
          </mat-form-field>
        </div>
        <mat-checkbox class="subtitle inline-subtitle" formControlName="fracturesMedical">Fractures</mat-checkbox>
        <div style="display:inline;" *ngIf="registerForm.value.fracturesMedical">
          <mat-form-field>
            <mat-label>Fractures</mat-label>
            <textarea matInput formControlName="fracturesTypes"></textarea>
          </mat-form-field>
        </div>
        <mat-checkbox class="subtitle inline-subtitle" formControlName="cancerMedical">Cancer</mat-checkbox>
        <div style="display:inline;" *ngIf="registerForm.value.cancerMedical">
          <mat-form-field>
            <mat-label>Type</mat-label>
            <input matInput type="text" formControlName="cancerTypes">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Treatment</mat-label>
            <input matInput type="text" formControlName="cancerTreatment">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Length of Illness</mat-label>
            <input matInput type="text" formControlName="cancerLength">
          </mat-form-field>
        </div>
        <mat-checkbox class="subtitle inline-subtitle" formControlName="autoAccident">Auto Accident (traumatic)</mat-checkbox>
        <mat-checkbox class="subtitle inline-subtitle" formControlName="smokerControl">Smoker</mat-checkbox>
        <div style="display:inline;" *ngIf="registerForm.value.smokerControl">
          <mat-form-field>
            <mat-label>How long?</mat-label>
            <input matInput type="text" formControlName="smokerLength">
          </mat-form-field>
        </div>
        <mat-checkbox class="subtitle inline-subtitle" formControlName="spinalInjury">Spinal Injuries</mat-checkbox>
        <mat-checkbox class="subtitle inline-subtitle" formControlName="alcoholControl">Alcoholism</mat-checkbox>
        <mat-checkbox class="subtitle inline-subtitle" formControlName="openHeartSurgery">Open Heart Surgery</mat-checkbox>
        <mat-checkbox class="subtitle inline-subtitle" formControlName="amputations">Amputations</mat-checkbox>
        <mat-checkbox class="subtitle inline-subtitle" formControlName="diabetesControl">Diabetes</mat-checkbox>
        <div style="display:inline;" *ngIf="registerForm.value.diabetesControl">
          <mat-form-field>
            <mat-label>Type</mat-label>
            <input matInput type="text" formControlName="diabetesType">
          </mat-form-field>
        </div>
        <mat-checkbox class="subtitle inline-subtitle" formControlName="prostheticsControl">Prosthetics (e.g. Hip or knee replacement)</mat-checkbox>
        <div style="display:inline;" *ngIf="registerForm.value.prostheticsControl">
          <mat-form-field>
            <mat-label>When?</mat-label>
            <input matInput type="text" formControlName="prostheticsDate">
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>Other Medical Disorders</mat-label>
          <textarea matInput formControlName="disordersMedical"></textarea>
        </mat-form-field>
        <br>
        <br>
        <br>
        <b class="subtitle">Medical History (continued) –<br>
          Please describe the above and any other information you feel may be important, including
          current medications, timing of injuries, the locations of traumatic injuries, or a family history
          of an illness, etc.</b>
        <mat-form-field>
          <mat-label>More Information</mat-label>
          <textarea matInput formControlName="medicalContinued"></textarea>
        </mat-form-field>
      </mat-expansion-panel>
      
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Habitual Activities (i.e., jogging, repetitive motions, life-long occupation activities, etc.)</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field style="width:100%;">
          <mat-label>Activities</mat-label>
          <textarea matInput formControlName="habitualActivities"></textarea>
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Extra Information</mat-panel-title>
        </mat-expansion-panel-header>
        <b class="subtitle">Eye Color:</b>
        <mat-form-field>
          <mat-label>Eye Color</mat-label>
          <mat-select formControlName="eyeColor">
            <mat-option *ngFor="let color of eyeColors" [value]="color.value">
              {{color.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="registerForm.value.eyeColor == 'other'" style="display:inline;margin-left:1rem;">
          <mat-form-field>
            <mat-label>Other Eye Color</mat-label>
            <input matInput type="text" formControlName="otherEyeColor">
          </mat-form-field>
        </div>
        <b class="subtitle inline-subtitle">F/D:</b>
        <mat-form-field style="width: 5rem;">
          <mat-label>F/D</mat-label>
          <mat-select formControlName="fOrD">
            <mat-option value="fOrD-value-F">F</mat-option>
            <mat-option value="fOrD-value-D">D</mat-option>
          </mat-select>
        </mat-form-field>
        <b class="subtitle inline-subtitle">Policy:</b>
        <mat-form-field style="width: 5rem;">
          <mat-label>Y/A</mat-label>
          <mat-select formControlName="policy">
            <mat-option value="policy-value-Y">Y</mat-option>
            <mat-option value="policy-value-A">A</mat-option>
          </mat-select>
        </mat-form-field>
        <b class="subtitle inline-subtitle">Web or Paper:</b>
        <mat-form-field style="width: 5rem;">
          <mat-label>W/P</mat-label>
          <mat-select formControlName="webOrPaper">
            <mat-option value="webOrPaper-Web">Web</mat-option>
            <mat-option value="webOrPaper-Paper">Paper</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <b class="subtitle">ChangeCode Register:</b>
        <mat-form-field style="width: 5rem;">
          <mat-label>T/F</mat-label>
          <mat-select formControlName="changecodeRegister">
            <mat-option value="changecodeRegister-True">True</mat-option>
            <mat-option value="changecodeRegister-False">False</mat-option>
          </mat-select>
        </mat-form-field>
        <b class="subtitle inline-subtitle">Living Research OK:</b>
        <mat-form-field style="width: 5rem;">
          <mat-label>T/F</mat-label>
          <mat-select formControlName="livingResearchOk">
            <mat-option value="livingResearchOk-True">True</mat-option>
            <mat-option value="livingResearchOk-False">False</mat-option>
          </mat-select>
        </mat-form-field>
        <b class="subtitle inline-subtitle">Trauma Research OK:</b>
        <mat-form-field style="width: 5rem;">
          <mat-label>T/F</mat-label>
          <mat-select formControlName="traumaResearchOk">
            <mat-option value="traumaResearchOk-True">True</mat-option>
            <mat-option value="traumaResearchOk-False">False</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <b class="subtitle">Close File:</b>
        <mat-form-field style="width: 5rem;">
          <mat-label>T/F</mat-label>
          <mat-select formControlName="closeFile">
            <mat-option value="closeFile-True">True</mat-option>
            <mat-option value="closeFile-False">False</mat-option>
          </mat-select>
        </mat-form-field>
        <b class="subtitle inline-subtitle">Pictures:</b>
        <mat-form-field style="width: 5rem;">
          <mat-label>T/F</mat-label>
          <mat-select formControlName="pictures">
            <mat-option value="pictures-True">True</mat-option>
            <mat-option value="pictures-False">False</mat-option>
          </mat-select>
        </mat-form-field>
        <b class="subtitle inline-subtitle">Other:</b>
        <mat-form-field style="width: 5rem;">
          <mat-label>T/F</mat-label>
          <mat-select formControlName="other">
            <mat-option value="other-True">True</mat-option>
            <mat-option value="other-False">False</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-checkbox class="subtitle inline-subtitle" formControlName="tattooControl">Tattoo(s)</mat-checkbox>
        <div *ngIf="registerForm.value.tattooControl" style="display:inline;">
          <b class="subtitle inline-subtitle">Description:</b>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput type="text" formControlName="tattooDescription"></textarea>
          </mat-form-field>
          <b class="subtitle inline-subtitle">Location:</b>
          <mat-form-field>
            <mat-label>Location</mat-label>
            <textarea matInput type="text" formControlName="tattooLocation"></textarea>
          </mat-form-field>
        </div>
        <br>
        <mat-checkbox class="subtitle inline-subtitle" formControlName="piercingControl">Body Piercing(s)</mat-checkbox>
        <div *ngIf="registerForm.value.piercingControl" style="display:inline;">
          <b class="subtitle inline-subtitle">Description:</b>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput type="text" formControlName="piercingDescription"></textarea>
          </mat-form-field>
          <b class="subtitle inline-subtitle">Location:</b>
          <mat-form-field>
            <mat-label>Location</mat-label>
            <textarea matInput type="text" formControlName="piercingLocation"></textarea>
          </mat-form-field>
        </div>
        <br>
        <mat-form-field style="width:100%;">
          <mat-label>Medical History</mat-label>
          <textarea matInput formControlName="medicalHistory"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field style="width:100%;">
          <mat-label>Trauma Type</mat-label>
          <textarea matInput formControlName="traumaType"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field style="width:100%;">
          <mat-label>Cancer RX</mat-label>
          <textarea matInput formControlName="cancerRx"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field style="width:100%;">
          <mat-label>Comments</mat-label>
          <textarea matInput formControlName="comments"></textarea>
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Next of Kin and Informant Information</mat-panel-title>
        </mat-expansion-panel-header>
        <b class="subtitle">Next of Kin Information</b>
        <br>
        <b class="subtitle">Name:</b>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="nextKinName">
        </mat-form-field>
        <b class="subtitle inline-subtitle">Relationship:</b>
        <mat-form-field>
          <mat-label>Relationship</mat-label>
          <input matInput type="text" formControlName="nextKinRelationship">
        </mat-form-field>
        <br>
        <b class="subtitle">Address:</b>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput type="text" formControlName="nextKinAddress">
        </mat-form-field>
        <b class="subtitle inline-subtitle">Phone Number:</b>
        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input matInput type="text" formControlName="nextKinPhoneNumber">
        </mat-form-field>
        <br>
        <b class="subtitle">City:</b>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput type="text" formControlName="nextKinCity">
        </mat-form-field>
        <b class="subtitle inline-subtitle">State:</b>
        <mat-form-field>
          <mat-label>State</mat-label>
          <input matInput type="text" formControlName="nextKinState">
        </mat-form-field>
        <b class="subtitle inline-subtitle">Zip:</b>
        <mat-form-field>
          <mat-label>Zip</mat-label>
          <input matInput type="text" formControlName="nextKinZip">
        </mat-form-field>
        <b class="subtitle inline-subtitle">Email:</b>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="nextKinEmail">
        </mat-form-field>
        <br>
        <mat-divider></mat-divider>
        <br>
        <b class="subtitle">Informant Information (if other than donor or Next of Kin)</b>
        <br>
        <b class="subtitle">Name:</b>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="informantName">
        </mat-form-field>
        <b class="subtitle inline-subtitle">Relationship:</b>
        <mat-form-field>
          <mat-label>Relationship</mat-label>
          <input matInput type="text" formControlName="informantRelationship">
        </mat-form-field>
        <br>
        <b class="subtitle">Address:</b>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput type="text" formControlName="informantAddress">
        </mat-form-field>
        <b class="subtitle inline-subtitle">Phone Number:</b>
        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input matInput type="text" formControlName="informantPhoneNumber">
        </mat-form-field>
        <br>
        <b class="subtitle">City:</b>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput type="text" formControlName="informantCity">
        </mat-form-field>
        <b class="subtitle inline-subtitle">State:</b>
        <mat-form-field>
          <mat-label>State</mat-label>
          <input matInput type="text" formControlName="informantState">
        </mat-form-field>
        <b class="subtitle inline-subtitle">Zip:</b>
        <mat-form-field>
          <mat-label>Zip</mat-label>
          <input matInput type="text" formControlName="informantZip">
        </mat-form-field>
        <b class="subtitle inline-subtitle">Email:</b>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="informantEmail">
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel style="display: none;">
        <mat-expansion-panel-header>
          <mat-panel-title>Death Information</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Added Fields</mat-panel-title>
        </mat-expansion-panel-header>
        <div id="additionalDiv"></div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="container">
        <button class="cancelButton" mat-raised-button [routerLink]="['/donor-table']">Cancel</button>
        <button class="saveButton" mat-raised-button type="submit" (click)="onSubmit()">Save</button>
    </div>
</form>
</div>
</div>
