.full-width-table {
  width: 100%;
}

.container {
  width: 80%;
  position: fixed;
  margin: 10%;
  margin-top: 1%;
}
.filtering{
  font-size: 14px;
  margin-left: 1rem;
}
.mat-form-field {
  width: 30rem;
}
a {
  margin-top: 1rem;
  margin-left: 1rem;
}
.menu-select {
  width: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.mat-option {
  width: 3rem;
}