.navbar {
    justify-content: space-between;
}
a { 
    font-size: 14px;
    margin-right: 1rem;
}

.title {
    color: black;
}

#wrap {
    width: 100vw;
}
#content-wrap {
    margin: 0 auto;
    width: 800px;
}