<div id="wrap">
<div id="content-wrape">
<mat-toolbar color="primary" class="navbar">
    <div class="title">Forensic Anthropology Center</div>
    <div>
        <a mat-raised-button routerLink="/donor-table">Donor Registration</a>
        <a mat-raised-button routerLink="/donor-c-table">Donor Control</a>
        <mat-menu #invMenu="matMenu">
            <button mat-menu-item routerLink="/inventory-cremation-table">Cremation</button>
            <button mat-menu-item routerLink="/inventory-subadult-table">Sub Adult</button>
            <button mat-menu-item routerLink="/inventory-adult-table">Adult</button>
        </mat-menu>
        <a mat-raised-button [matMenuTriggerFor]="invMenu">Inventory</a>
        <mat-menu #dmMenu="matMenu">
            <button mat-menu-item>PostCran</button>
            <button mat-menu-item>Fully</button>
        </mat-menu>
        <a mat-raised-button [matMenuTriggerFor]="dmMenu">Donor Metrics</a>
        <a mat-raised-button routerLink="/">Settings</a>
        <a mat-raised-button (click)="auth.logout()">Logout</a>
    </div>
</mat-toolbar>
</div>
</div>