<div *ngIf="donor" class="row">
    <div class="col-md-12">
      <h2 *ngIf="donor._id">Donor Details</h2>
      <h2 *ngIf="!donor._id">New Donor</h2>
    </div>
  </div>
  <div *ngIf="donor" class="row">
    <form class="col-md-12">
      <div class="form-group">
        <label for="donor-firstName">Name</label>
        <input class="form-control" name="donor-firstName" [(ngModel)]="donor.firstName" placeholder="First Name"/>
      </div>
      <button class="btn btn-primary" *ngIf="!donor._id" (click)="createDonor(donor)">Create</button>
      <button class="btn btn-info" *ngIf="donor._id" (click)="updateDonor(donor)">Update</button>
      <button class="btn btn-danger" *ngIf="donor._id" (click)="deleteDonor(donor._id)">Delete</button>
    </form>
  </div>
  