<form class="details" [formGroup]="userForm">

  <!-- Privelges-->
  <table class="element-privs">

    <!--Headers-->
    <tr>
      <th>Page</th>
      <th>Create</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>

    <!-- Donor Registeration-->
    <tr>
      <td>Donor Registeration</td>
      <td>
        <mat-checkbox class="privelge-checkbox" formControlName="donorRegCreatePriv"></mat-checkbox>
      </td>
      <td>
        <mat-checkbox class="privelge-checkbox" formControlName="donorRegEditPriv"></mat-checkbox>
      </td>
      <td>
        <mat-checkbox class="privelge-checkbox" formControlName="donorRegDeletePriv"></mat-checkbox>
      </td>
    </tr>

    <!-- Donor Control-->
    <tr>
      <td>Donor Control</td>
      <td>
        <mat-checkbox class="privelge-checkbox" formControlName="donorControlCreatePriv"></mat-checkbox>
      </td>
      <td>
        <mat-checkbox class="privelge-checkbox" formControlName="donorControlEditPriv"></mat-checkbox>
      </td>
      <td>
        <mat-checkbox class="privelge-checkbox" formControlName="donorControlDeletePriv"></mat-checkbox>
      </td>
    </tr>

    <!-- Inventory-->
    <tr>
      <td>Inventory</td>
      <td>
        <mat-checkbox class="privelge-checkbox" formControlName="inventoryCreatePriv"></mat-checkbox>
      </td>
      <td>
        <mat-checkbox class="privelge-checkbox" formControlName="inventoryEditPriv"></mat-checkbox>
      </td>
      <td>
        <mat-checkbox class="privelge-checkbox" formControlName="inventoryDeletePriv"></mat-checkbox>
      </td>
    </tr>

    <!-- Donor Metrics-->
    <tr>
      <td>Donor Metrics</td>
      <td>
        <mat-checkbox class="privelge-checkbox" formControlName="donorMetricCreatePriv"></mat-checkbox>
      </td>
      <td>
        <mat-checkbox class="privelge-checkbox" formControlName="donorMetricEditPriv"></mat-checkbox>
      </td>
      <td>
        <mat-checkbox class="privelge-checkbox" formControlName="donorMetricDeletePriv"></mat-checkbox>
      </td>
    </tr>

  </table>

  <!-- Spacer between buttons and privelges-->
  <div class="textFields">

    <!-- Firstname-->
    <mat-form-field class="textInputs">
      <mat-label>First name</mat-label>
      <input matInput required formControlName="firstName">

      <!--Errors-->
      <mat-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">

        <!--Error for missing field-->
        <mat-error *ngIf="firstName.errors.required">
          Please enter your first name
        </mat-error>

        <!--Error for pattern break-->
        <mat-error *ngIf="firstName.errors.pattern">
          Please only use letters
        </mat-error>

      </mat-error>
    </mat-form-field>

    <!-- Lastname-->
    <mat-form-field class="textInputs">
      <mat-label>Last name</mat-label>
      <input matInput required formControlName="lastName">
      <!--Errors-->
      <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">

        <!--Error for missing field-->
        <mat-error *ngIf="lastName.errors.required">
          Please enter your last name
        </mat-error>

        <!--Error for pattern break-->
        <mat-error *ngIf="lastName.errors.pattern">
          Please only use letters
        </mat-error>

      </mat-error>
    </mat-form-field>

    <!-- Username-->
    <mat-form-field class="textInputs">
      <mat-label>Username</mat-label>
      <input matInput required formControlName="userName">

      <!--Errors-->
      <mat-error *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger">

        <!--Error for missing field-->
        <mat-error *ngIf="userName.errors.required">
          Please enter your user name
        </mat-error>

        <!--Error for pattern break-->
        <mat-error *ngIf="userName.errors.pattern">
          Please only use letters and numbers
        </mat-error>

        <!--Error for already in use username-->
        <mat-error *ngIf="userName.errors.userNameCheck">
          Username already in use, please try another
        </mat-error>

      </mat-error>
    </mat-form-field>
  </div>

  <!-- Save, Delete, Change Password Buttons -->
  <div class="element-button-container">

    <!-- Changing Password-->
    <button mat-raised-button class="element-buttons" [disabled]="popChange" (click)="openChange()">Change
      Password</button>
    <app-pop-up [isOpen]="popChange">
      <div class="pop-up-box">
        <header class="pop-up-header">
          <span class="pop-up-title">Change Password</span>
        </header>
        <form [formGroup]="passwordForm">

          <!--Password Field-->
          <div class="pop-up-textfield">
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput required type="password" formControlName="password">

              <!--Errors-->
              <mat-error *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

                <!--Error for missing field-->
                <mat-error *ngIf="password.errors.required">
                  Please enter a password
                </mat-error>

                <!--Error for pattern break-->
                <mat-error *ngIf="password.errors.pattern">
                  8 charcters, 1 upper, 1 lower, 1 number, 1 special
                </mat-error>

              </mat-error>
            </mat-form-field>
          </div>

          <!--Confirm password-->
          <div class="pop-up-textfield">
            <mat-form-field>
              <mat-label>Confirm Password</mat-label>
              <input matInput required type="password" formControlName="passwordConfirmation">

              <!--Errors-->
              <mat-error
                *ngIf="passwordConfirmation.errors && (passwordConfirmation.dirty || passwordConfirmation.touched)"
                class="alert alert-danger">

                <!--Error for missing field-->
                <mat-error *ngIf="passwordConfirmation.errors.required">
                  Please enter password again
                </mat-error>

                <!--Error for password confirmation-->
                <mat-error *ngIf="passwordConfirmation.errors.passwordConf">
                  Password does not match the one above
                </mat-error>

              </mat-error>
            </mat-form-field>
          </div>
        </form>

        <footer class="pop-up-footer">
          <button mat-raised-button class="element-buttons" [disabled]="!formPassword.valid"
            (click)="onChangePassword()">Save</button>
          <button mat-raised-button class="element-buttons" (click)="cancelChange()">Cancel</button>
        </footer>
      </div>
    </app-pop-up>

    <!-- Saving User-->
    <button mat-raised-button class="element-buttons" (click)="onSave()" [disabled]="!formUser.valid">Save</button>

    <!-- Deleting User-->
    <button mat-raised-button class="element-buttons" [disabled]="popDelete" (click)="openDelete()">Delete</button>
    <app-pop-up [isOpen]="popDelete">
      <div class="pop-up-box">
        <header class="pop-up-header">
          <span class="pop-up-title">Delete User</span>
        </header>
        <footer class="pop-up-footer">
          <button mat-raised-button class="element-buttons" (click)="onDelete()">Delete</button>
          <button mat-raised-button class="element-buttons" (click)="cancelDelete()">Cancel</button>
        </footer>
      </div>
    </app-pop-up>

  </div>

</form>
